# File: .github/workflows/workflow.yml
# 2

name: Run Azure Login with OIDC
on: [push]

permissions: 
  id-token: write
  contents: write
  repository-projects: write
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: 
      name: 'dev'
    steps:
      - name: Azure CLI script
        uses: azure/cli@v2
        with:
          inlineScript: |
            az version
      - name: Manual Workflow Approval
        uses: trstringer/manual-approval@v1.9.0
        with:
          approvers: mikec@poczta.onet.pl
          secret: ${{ github.TOKEN }}
          issue-title: Wait for a decision
          exclude-workflow-initiator-as-approver: false
      - name: Azure login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Azure CLI script
        uses: azure/cli@v2
        with:
          azcliversion: latest
          inlineScript: |
            az account show
